/* autoprefixer grid: autoplace */
@font-face {
  font-family: Recoleta;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/Recoleta-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: MabryPro-Bold;
  font-weight: 700;
  font-style: bold;
  src: url("../static/fonts/MabryPro-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: MabryPro-Regular;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/MabryPro-Regular.woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol,
li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
body,
html {
  font-family: MabryPro-Regular, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #413b35;
}
@media (min-width: 1024px) {
  body,
  html {
    font-size: calc(18px  + 2px);
  }
}
.page-wrapper {
  height: 100%;
}
.head-title {
  margin-bottom: 10px;
  font-family: Recoleta, serif;
  font-size: 38px;
  line-height: 43px;
}
.section {
  padding: 30px 20px;
  text-align: center;
}
@media (min-width: 1024px) {
  .section {
    padding: 2rem;
  }
}
.section.--general-info {
  background-color: #f9ffd7;
}
.section.--how-to-use {
  background-color: #423b34;
  color: #f0ebde;
}
.section.--general-info > .subtitle {
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  .section.--general-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template: "title    piramide" "subtitle piramide" "list     piramide";
    -ms-grid-columns: 2fr 1.5fr;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto 30px;
  }
  .section.--general-info > .head-title {
    grid-area: title;
    -ms-grid-row-align: end;
        align-self: end;
  }
  .section.--general-info > .subtitle {
    grid-area: subtitle;
    -ms-grid-row-align: start;
        align-self: start;
  }
  .section.--general-info > .picture-piramide {
    grid-area: piramide;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 770px;
  }
  .section.--general-info > .notes-list {
    grid-area: list;
  }
}
.section.--how-to-use > .subtitle {
  margin-bottom: 30px;
}
.section.--how-to-use > .warning {
  font-size: 14px;
}
.section.--how-to-use > .picture-spray {
  position: relative;
  max-width: none;
  width: 100vw;
  margin: 0 -20px 30px;
}
@media (min-width: 1024px) {
  .section.--how-to-use {
    padding: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
        grid-template: "spray title" "spray subtitle" "spray empty" "spray warning";
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 54px 1fr 30px;
  }
  .section.--how-to-use > .head-title {
    grid-area: title;
    -ms-grid-row-align: end;
        align-self: end;
  }
  .section.--how-to-use > .subtitle {
    max-width: 440px;
    -ms-grid-column-align: center;
        justify-self: center;
    grid-area: subtitle;
    -ms-grid-row-align: start;
        align-self: start;
  }
  .section.--how-to-use > .picture-spray {
    width: auto;
    margin: -2rem 0;
    grid-area: spray;
  }
  .section.--how-to-use > .warning {
    padding: 0 2rem;
    grid-area: warning;
    -ms-grid-row-align: center;
        align-self: center;
    font-size: calc(14px  + 2px);
  }
  .section.--how-to-use > .head-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .section.--how-to-use > .subtitle {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media (min-width: 1024px) {
  .section.--general-info > .head-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section.--general-info > .subtitle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .section.--general-info > .picture-piramide {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
  }
  .section.--general-info > .notes-list {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section.--how-to-use > .head-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section.--how-to-use > .head-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .section.--how-to-use > .subtitle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .section.--how-to-use > .subtitle {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .section.--how-to-use > .picture-spray {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
  }
  .section.--how-to-use > .warning {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
.notes-list > .notes {
  margin-bottom: 1rem;
}
.notes-list > .notes.--orange::marker {
  color: #fa8b06;
}
.notes-list > .notes.--green::marker {
  color: #386e38;
}
.notes-list > .notes.--purple::marker {
  color: #63407d;
}
@media (min-width: 1024px) {
  .notes-list {
    max-width: 720px;
    padding: 70px 2rem 2rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.note-title::before {
  display: inline-block;
  content: attr(data-icon);
  padding-right: 5px;
  font-size: 18px;
}
.note-title.--orange {
  color: #fa8b06;
}
.note-title.--green {
  color: #386e38;
}
.note-title.--purple {
  color: #63407d;
}
