@font-face {
  font-family: Recoleta;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/Recoleta-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: MabryPro-Bold;
  font-weight: 700;
  font-style: bold;
  src: url("../static/fonts/MabryPro-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: MabryPro-Regular;
  font-weight: 400;
  font-style: normal;
  src: url("../static/fonts/MabryPro-Regular.woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol,
li {
  padding-inline-start: 0;
  list-style: none;
}
body,
html {
  font-family: MabryPro-Regular, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #413b35;
}
.page-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.head-title {
  margin-bottom: 10px;
  font-family: Recoleta, serif;
  font-size: 38px;
  line-height: 43px;
}
.section {
  padding: 30px 20px;
  text-align: center;
}
@media (min-width: 1024px) {
  .section {
    padding: 2rem;
  }
}
.section.--general-info {
  background-color: #f9ffd7;
}
.section.--how-to-use {
  background-color: #423b34;
  color: #f0ebde;
}
.section.--general-info > .subtitle {
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  .section.--general-info {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto 30px;
  }
  .section.--general-info > .head-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }
  .section.--general-info > .subtitle {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: start;
  }
  .section.--general-info > .picture-piramide {
    grid-column: 2/3;
    grid-row: span 3;
    max-width: 770px;
  }
  .section.--general-info > .notes-list {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.section.--how-to-use > .subtitle {
  margin-bottom: 30px;
}
.section.--how-to-use > .warning {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .notes-list {
    max-width: 720px;
    padding: 70px 2rem 2rem;
    justify-self: center;
  }
}
.notes-list > .notes {
  margin-bottom: 1rem;
}
.notes-list > .notes.--orange::marker {
  color: #fa8b06;
}
.notes-list > .notes.--green::marker {
  color: #386e38;
}
.notes-list > .notes.--purple::marker {
  color: #63407d;
}
.note-title::before {
  display: inline-block;
  content: attr(data-icon);
  padding-right: 5px;
  font-size: 18px;
}
.note-title.--orange {
  color: #fa8b06;
}
.note-title.--green {
  color: #386e38;
}
.note-title.--purple {
  color: #63407d;
}
.picture-spray {
  position: relative;
  max-width: none;
  width: 100vw;
  margin: 0 -20px 30px;
}
